.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #8bac0f;
    padding: 10px 20px;
    box-sizing: border-box;
    z-index: 1000; /* para garantir que o menu fique acima do conteúdo */
  }
  .menu a {
    color: #306230;
    text-decoration: none;
    margin-right: 20px;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
  }
  .menu a:hover {
    background-color: #306230;
  }