body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(202,220,159);	
	overflow: hidden;
}

canvas {	
	border: 1px solid #0f380f;
	display: block;
	margin: 0 auto;
}
