body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #CADC9F;
	
}
canvas {
	background-color: white;	
	border: 1px solid #000;
	display: block;
	margin: 0 auto;
}